.password-body{
	background-color: red;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
}

.password-form{
	background-color: white;
	width: 30vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	padding: 3%;
}

.password-form label{
	margin: 0;
	padding: 0;
}

.password-form input{
	width: 80%;
}
